body {
  background-color:#FF9100;
}
#title {
  color:#FFA;
  cursor:default;
  background-color: rgba(250,100,50,0.3);
  border-radius: 10px;
  margin-right: 25%;
  margin-left: 25%;
  margin-top: -90px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align:center;
  font-family: ProductSans;
  font-size: 4vw;
}
.time{
  text-align: center;
  background: #FFA;
  border-radius: 10px;
  font-family: ProductSans;
  margin-right: 23%;
  margin-left: 23%;
  padding: 2% 5% 2% 5%;
  letter-spacing: .45px;
  line-height:normal;
  color:#951;
  font-size: 1.25vw;
}
.paragraph {
  text-align: center;
  background: #FFA;
  border-radius: 10px;
  font-family: ProductSans;
  margin-right: 23%;
  margin-left: 23%;
  padding: 2% 5% 2% 5%;
  text-align: justify;
  line-height:normal;
  color:#F73;
  text-indent: 30px;
  font-size: 1.25vw;
}
.sideTitles {
  font-family: ProductSans;
  margin-left: 1%;
  border-radius: 50px;
  margin: 0px 5px 0px 5px;
}
.sideTitles:hover{
  background-color: #FFA;
  border-radius: 50px;
}
@font-face {
  font-family: ProductSans;
  src:  url('ProductSansRegular.ttf');
}
.image{
  width:44%;
  transition: 1s;
  margin-right: 23%;
  margin-left: 23%;
  background-color: #FFA;
  padding: 2% 5% 2% 5%;
  border-radius: 15px;

}
.image:hover{
  width:54%;
  border-style: none;
  border-width: thick;
  margin-right: 15%;
  margin-left: 23%;
  background-color: #FFF;
  padding:  0% 0% 0% 0%;

}
#title2{
  visibility: collapse;
}
ul a{
  visibility: collapse;
}
/* The side navigation menu */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #F73;
    overflow-x: hidden;
    transition: 1s;
    padding-top: 100px;
    box-shadow: inset -30px -30px 30px -30px rgba(0,0,0,0.3);
}
.sidenav a {
    padding: 8px 8px 8px 18px;
    text-decoration: none;
    font-size: 2vw;
    color: #FFA;
    display: block;
    transition: 1s;
}
.sidenav a:hover {
    color: #951;
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
#main {
    transition: margin-left 1s;
    padding: 16px;
}
@media screen and (max-width: 650px) {
  .sidenav {
    visibility: collapse;
  }
  body{
    background-color: #FFA;
  }
  .closebtn{
    visibility:hidden;
  }
  #title{
    visibility: collapse;
  }
  #title2{
    visibility: visible;
    color:#FFA;
    cursor:default;
    background-color: #951;
    border-radius: 10px;
    margin-right: 17%;
    margin-left: 17%;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align:center;
    font-family: ProductSans;
    font-size: 8vw;

  }
  .paragraph{
    margin-left: 0px;
    margin-right: 0px;
    background-color: #951;
    color: white;
    font-size: 2vw;
  }
  .time{
    margin-left: 0px;
    margin-right: 0px;
    background-color: #951;
    color: white;
    font-size: 2.5vw;
  }

  ul{
    visibility: visible;
    text-align: center;
    margin-right: 10%;
  }
  ul a{
    visibility: visible;
    text-decoration: none;
    font-size: 4vw;
    color: #951;
    transition: .7s;
  }
  ul a:hover{
    color:#FF9100;
  }
  .image{
    width: 64%;
    margin-left: 10%;
    margin-right: 10%;
  }
  .image:hover{
    width: 80%;
    margin-left: 9%;
    background-color: #FFF;
  }
}
/* width */
::-webkit-scrollbar {
    width: 15px;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #FFA;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #951;
}
