#blue{
	color: green;
}
#yellow{
	color: rgb(255,100,100);
}
#title{
	text-align: center;
	font-size:70px;
	font-family: "Josefin Slab";
	color:rgb(255,100,100);
}
#title_stuff {
	font-size:23px;
	font-family: "Josefin Slab";
}
li a{
	color: rgb(255,100,100);
	font-weight: bold;
	
	text-decoration:none;
}
ul li{
	display:inline;
}
#header{
	background-color: #0c6;
}
body{
	background-color:#4b6; 
}
hr{
	border-style: solid;
	border-color:#0c6;
}

#about{
	text-align: center;
}

#subheading{
	text-align:center;
	font-family: "Josefin Slab";
	color:white;
	font-size:35px;
	
}
#car1 {
    width: 330px;
    border-width: 15px;
    border-color: #0c6 #0c6 rgb(255,100,100) rgb(255,100,100);
    border-style: solid;
    border-radius: 20px;
}
#car2 {
    width: 373px;
    border-width: 15px;
    border-color: #0c6 #0c6 rgb(255,100,100) rgb(255,100,100);
    border-style: solid;
    border-radius: 20px;
}
#car3 {
    width: 355px;
    border-width: 15px;
    border-color: #0c6 #0c6 rgb(255,100,100) rgb(255,100,100);
    border-style: solid;
    border-radius: 20px;
}
#car4 {
    width: 300px;
    border-width: 15px;
    border-color: #0c6 #0c6 rgb(255,100,100) rgb(255,100,100);
    border-style: solid;
    border-radius: 20px;
}