@charset "ISO-8859-1";
#mainlogo{
	display:block;
	width:750px;
	height: 200px;
	margin:auto;
}
body{
	background-image : url(background.jpg);
	background-repeat : repeat;
}
hr{
	border-color:#411E00;
	border-style: solid;
	margin-left:275px;
}
.header{
	background-color:#411E00;
	margin-left:275px;
	margin-right:275px;
}
li{
	float:left;
	display:inline;
}
li a{
    text-decoration: none;
    display:block;
    color:#411E00;
    text-align: center;
    padding: 13px;
	font-family:Matura MT Script Capitals;
	margin-right:30px;
	font-size:22px;
}
ul{
	background-color:#ddca86;
	margin-top: 0px;
	overflow: hidden;
    margin-left:275px;
    margin-right:275px;
    margin-top:-15px;
    padding: 0px;
}
li a:hover{
	background-color:#411E00;
	color:#ddca86;
	margin-right:30px;
}
.dropdown {
    float: center;
    overflow: hidden;
}
.dropdown .dropbtn { 
	border-style: solid;
    border-size: 3px;
    background-color: #ddca86;
    text-decoration: none;
    color:#411E00;
    text-align: center;
    padding: 13px;
	font-family:Matura MT Script Capitals;
	margin-right:30px;
	font-size:22px;
}
.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #411E00;
    color: #ddca86;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color:#914100;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,1);
}
.dropdown-content a {
    float: none;
    color: #ddca86;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-family:Matura MT Script Capitals;
}
.dropdown-content a:hover {
    background-color: #622c00;
    color:#ddca86;
    font-family:Matura MT Script Capitals;
}
.dropdown:hover .dropdown-content {
    display: block;
}